
h1 {
    margin: 180px 0px 0px ;
    padding: 0;
    font-size: 50px;
    color: #03a9f4;
}

.sub {
    margin-top: -10px ;
    padding-bottom: 20px ;
}

.principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px ;
}

.pesquisa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tabela {
    width: 98%;
    margin: 0 auto ;
}

.link-home {
    text-decoration: none ;
    background-color: none ;
    color: darkslategray;
}

.butoes .btn {
    margin: 7px;
}

