.tabela-personalzida {
    width: 80%;
}

.btn-group {
    display:flex;
    align-items: center ;
    width: 40px;
}

.btn-edit {
    cursor: pointer;
    background-color: azure;
    border: 1px 2px;
}