
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px ;
}

.pesquisa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tabela {
    width: 98%;
    margin: 0 auto ;
}